@model PlanetIndexViewModel

@{
    ViewData["Title"] = "Imperial Planets";
}

<div class="text-center">
    <h1 class="display-4">Planets</h1>
    
    <ul class="list-group">
        @foreach (var planet in Model.Planets)
        {
            <li class="list-group-item">
                <a href="/Planet/Details/@planet.id">@planet.name</a>
            </li>
        }
        </ul>
</div>
